<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team To Do</title>
  <link rel = "icon" href ="images/todo.png" type = "image/x-icon">
  <link rel="icon" href="todo.png" type="image/x-icon">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <style>

  </style>
</head>

<body>
  <!-- Side Nav for profile-->
  <div id="mySidenav" class="sidenav gy-4">
    <a href="#" class="closebtn fs-3" onclick="closeNav()"><i class="fas fa-window-close "></i></a>
    <img src="images/unknown.png" alt="profile" width="100px" height="100px" class="rounded-circle">
    <div class="px-5 py-5">
      <ul class="list-group bg-secondary">
        <li class="list-group-item"><%= profile.name%></li>
        <li class="list-group-item"><%= profile.email%>n</li>
        <li class="list-group-item"><%= profile.user_role%></li>
      </ul>
    </div>
    <a href="/logout" class="" >Logout</a>
    ‌<a href="https://ookyawsoe-ucss.github.io" onclick="closeNav()" class="">Porfolio</a>
</div>
  <!--Nav bar for client side-->
  <nav class="navbar justify-content-between navbar-light bg-light ">
    <div class="ms-3">
      <a class="navbar-brand ms-5 py-3 fs-3" href="#"><img src="images/todo.png" alt="BrandPhoto" width="50px"
          height="auto"></a>
      <span class="fs-3">TEAMTODO</span>
    </div>
    <div class="logout me-5">
      <span class="fs-2"><a href="#" onclick="openNav()"><i class="fas fa-user-circle"></i></a></span>
    </div>
  </nav>

  <section class="hero py-3">
    <div class="row mx-2">
      <!-- Todo Part-->
      <div class="todo col-4 ">
        <nav class="navbar justify-content-between">
          <h3>TODO</h3>
          <div class="addArticle me-3">
            <a href="/article/add" class="btn btn-secondary">Add Article</a>
          </div>
        </nav>
        <% article.forEach((article, index) => {  %>
        <% if(article.article_role=="todo"){ %>
        <div class="article my-2 ">
          <div class="row articleNav">
            <div class="col-8">
              <div class="row userArticle">
                <div class="col-2 mt-2">
                  <% if(article.profile != "null"){%>
                      <img src="<%= article.profile %>" alt="Profile" width="30px" height="30px">
                  <% } else {  %>
                      <img src="images/unknown.png" alt="unknown profile" width="30px" height="30px">
                  <% } %>
                </div>
                <div class="col-9">
                  <span class="fw-bold fs-5"><%= article.user_name %></span> <br>
                  <span><%= article.user_role %></span> &nbsp;
                  <i>3 hours ago</i>
                </div>
              </div>
            </div> 
            <% if(article.userid === profile.user_id || profile.user_role === "admin"){ %>
            <div class="col-3"> 
              <div class="dropdown ">
                <span class="dropdown-toggle text-end d-block fs-3" id="dropdownMenuButton" data-bs-toggle="dropdown">
                </span>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/article/process/<%=article.article_id%>">process</a>
                  <a class="dropdown-item" href="/article/done/<%=article.article_id%>">done</a>
                  <a class="dropdown-item" href="/article/edit/<%=article.article_id%>">edit</a>
                  <a class="dropdown-item" href="/article/delete/<%=article.article_id%>">delete</a>
                </div>
              </div>  
            </div>
            <% } %>
          </div>
          <hr>
          <div class="articleContent ms-4">
            <p>
              <%= article.article_content %>
            </p>

          </div>
          <div class="text-end commentBtn my-2"  data-id="comment_<%=article.article_id%>">
            <button class="btn btn-dark btn-sm me-2 cmtBtn" >Comment</button>
          </div>
          <!-- Comment for todo-->
         
          <div class="articleCommentSection row  px-2 my-2 d-none">
            <hr>
            <div class="row py-1">
              <div class="col-1">
                <% if(profile.profile != "null"){%>
                  <img src="<%= profile.profile %>" alt="Profile" width="30px" height="30px">
              <% } else {  %>
                  <img src="images/unknown.png" alt="unknown profile" width="30px" height="30px">
              <% } %>
              </div>
              <div class="col-11 ">
                <button class="addCommentBtn w-100 text-start addComment" data-id="<%=article.article_id%>">Comment here !</button>
                <form action="/comments/add/<%=article.article_id%>" method="post" class="form d-none" data-id="<%=article.article_id%>">
                  <textarea name="comment_content" id="newcomment" cols="30" rows="4" class="form-control"
                    placeholder="Comment here"></textarea> <br>
                  <input type="submit" value="Send" class="btn btn-success">
                  <button class="btn btn-primary commentCancel" data-id="<%=article.article_id%>">Cancel</button>
                </form>
              </div>
            </div>
            <% comment.forEach((comment, index) => { %>
            <% if(comment.article_id === article.article_id){ %>
            <div class="articleComment bg-light my-2">
              <div class="row cmtNav ">
                <div class="col-8">
                  <div class="row userComment">
                    <div class="col-2 mt-2">
                      <% if(comment.profile != "null"){%>
                        <img src="<%= comment.profile %>" alt="Profile" width="30px" height="30px">
                    <% } else {  %>
                        <img src="images/unknown.png" alt="unknown profile" width="30px" height="30px">
                    <% } %>
                    </div>
                    <div class="col-9">
                      <span class="fw-bold"><%= comment.user_name %></span> &nbsp;
                      <span ><%= comment.user_role %></span> <br>
                      <i>3 hours ago</i>
                    </div>
                  </div>
                </div>
                
                <% if(comment.user_id == profile.user_id || article.userid == profile.user_id){ %>
                <div class="col-3">
                  <div class="dropdown ">
                    <span class="dropdown-toggle text-end d-block fs-3" id="dropdownMenuButton"
                      data-bs-toggle="dropdown">
                    </span>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item cmtEditBtn" data-id="<%= comment.comment_id %>" >edit</a>
                      <a class="dropdown-item" href="/comments/delete/<%=comment.comment_id%>">delete</a>
                    </div>
                  </div>
                </div>
                <% } %>
              </div>
             
              <div class="articleContent ms-4  py-1">
                <p class="articlePara" data-id="<%= comment.comment_id%>">
                  <%= comment.comment_content %> <br>
                </p>
                <form class="d-none cmtEditForm" data-id="<%= comment.comment_id %>">
                  <textarea name="comment_content" id="newcomment" cols="25" rows="3" class="form-control commentedit" placeholder="Comment here"  data-id="<%= comment.comment_id%>"></textarea> <br>
                  <input type="submit" value="Edit" class="btn btn-success">
                  <button class="btn btn-primary cmtEditCancel" data-id="<%=comment.comment%>">Cancel</button>
                 </form>
              </div>
            </div>
            <% }  }) %> <!--comment for todo end -->
            
          </div>
         
        </div>
      
        <% }  }) %> <!-- todo article end-->

      </div>
      <!-- Process Part-->
      <div class="todo col-4 ">
        <nav class="navbar justify-content-between">
          <h3>PROCESS</h3>
        </nav>
        <% article.forEach((article, index) => {  %>
        <% if(article.article_role=="process"){ %>
        <div class="article my-2 ">
          <div class="row articleNav">
            <div class="col-8">
              <div class="row userArticle">
                <div class="col-2 mt-2">
                  <% if(article.profile != "null"){%>
                    <img src="<%= article.profile %>" alt="Profile" width="30px" height="30px">
                <% } else {  %>
                    <img src="images/unknown.png" alt="unknown profile" width="30px" height="30px">
                <% } %>
                </div>
                <div class="col-9">
                  <span class="fw-bold fs-5"><%= article.user_name %></span> <br>
                  <span><%= article.user_role %></span> &nbsp;
                  <i>3 hours ago</i>
                </div>
              </div>
            </div> 
            <% if(article.userid === profile.user_id || profile.user_role === "admin"){ %>
            <div class="col-3"> 
              <div class="dropdown ">
                <span class="dropdown-toggle text-end d-block fs-3" id="dropdownMenuButton" data-bs-toggle="dropdown">
                </span>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/article/process/<%=article.article_id%>">process</a>
                  <a class="dropdown-item" href="/article/done/<%=article.article_id%>">done</a>
                  <a class="dropdown-item" href="/article/edit/<%=article.article_id%>">edit</a>
                  <a class="dropdown-item" href="/article/delete/<%=article.article_id%>">delete</a>
                </div>
              </div>  
            </div>
            <% } %>
          </div>
          <hr>
          <div class="articleContent ms-4">
            <p>
              <%= article.article_content %>
            </p>

          </div>
          <div class="text-end commentBtn my-2"  data-id="comment_<%=article.article_id%>">
            <button class="btn btn-dark btn-sm me-2 cmtBtn" >Comment</button>
          </div>
          <!-- Comment for process-->
         
          <div class="articleCommentSection row  px-2 my-2 d-none">
            <hr>
            <div class="row py-1">
              <div class="col-1">
                <% if(profile.profile != "null"){%>
                  <img src="<%= profile.profile %>" alt="Profile" width="30px" height="30px">
              <% } else {  %>
                  <img src="images/unknown.png" alt="unknown profile" width="30px" height="30px">
              <% } %>
              </div>
              <div class="col-11 ">
                <button class="addCommentBtn w-100 text-start addComment" data-id="<%=article.article_id%>">Comment here !</button>
                <form action="/comments/add/<%=article.article_id%>" method="post" class="form d-none" data-id="<%=article.article_id%>">
                  <textarea name="comment_content" id="newcomment" cols="30" rows="4" class="form-control"
                    placeholder="Comment here"></textarea> <br>
                  <input type="submit" value="Send" class="btn btn-success">
                  <button class="btn btn-primary commentCancel" data-id="<%=article.article_id%>">Cancel</button>
                </form>
              </div>
            </div>
            <% comment.forEach((comment, index) => { %>
            <% if(comment.article_id === article.article_id){ %>
            <div class="articleComment bg-light my-2">
              <div class="row cmtNav ">
                <div class="col-8">
                  <div class="row userComment">
                    <div class="col-2 mt-2">
                      <% if(comment.profile != "null"){%>
                        <img src="<%= comment.profile %>" alt="Profile" width="30px" height="30px">
                    <% } else {  %>
                        <img src="images/unknown.png" alt="unknown profile" width="30px" height="30px">
                    <% } %>
                    </div>
                    <div class="col-9">
                      <span class="fw-bold"><%= comment.user_name %></span> &nbsp;
                      <span ><%= comment.user_role %></span> <br>
                      <i>3 hours ago</i>
                    </div>
                  </div>
                </div>
                
                <% if(comment.user_id == profile.user_id || article.userid == profile.user_id){ %>
                <div class="col-3">
                  <div class="dropdown ">
                    <span class="dropdown-toggle text-end d-block fs-3" id="dropdownMenuButton"
                      data-bs-toggle="dropdown">
                    </span>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item cmtEditBtn" data-id="<%= comment.comment_id %>" >edit</a>
                      <a class="dropdown-item" href="/comments/delete/<%=comment.comment_id%>">delete</a>
                    </div>
                  </div>
                </div>
                <% } %>
              </div>
             
              <div class="articleContent ms-4  py-1">
                <p class="articlePara" data-id="<%= comment.comment_id%>">
                  <%= comment.comment_content %> <br>
                </p>
                <form class="d-none cmtEditForm" data-id="<%= comment.comment_id %>">
                  <textarea name="comment_content" id="newcomment" cols="35" rows="3" class="form-control commentedit" placeholder="Comment here"  data-id="<%= comment.comment_id%>"></textarea> <br>
                  <input type="submit" value="Edit" class="btn btn-success">
                  <button class="btn btn-primary cmtEditCancel" data-id="<%=comment.comment%>">Cancel</button>
                 </form>
              </div>
            </div>
            <% }  }) %> <!--comment for process end -->
            
          </div>
         
        </div>
      
        <% }  }) %> <!-- process article end-->

      </div>

      <!-- Done Part-->
      <div class="todo col-4 ">
        <nav class="navbar justify-content-between">
          <h3>DONE</h3>
        </nav>
        <% article.forEach((article, index) => {  %>
        <% if(article.article_role=="done"){ %>
        <div class="article my-2 ">
          <div class="row articleNav">
            <div class="col-8">
              <div class="row userArticle">
                <div class="col-2 mt-2">
                  <% if(article.profile != "null"){%>
                    <img src="<%= article.profile %>" alt="Profile" width="30px" height="30px">
                <% } else {  %>
                    <img src="images/unknown.png" alt="unknown profile" width="30px" height="30px">
                <% } %>
                </div>
                <div class="col-9">
                  <span class="fw-bold fs-5"><%= article.user_name %></span> <br>
                  <span><%= article.user_role %></span> &nbsp;
                  <i>3 hours ago</i>
                </div>
              </div>
            </div> 
            <% if(article.userid === profile.user_id || profile.user_role === "admin"){ %>
            <div class="col-3"> 
              <div class="dropdown ">
                <span class="dropdown-toggle text-end d-block fs-3" id="dropdownMenuButton" data-bs-toggle="dropdown">
                </span>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="/article/process/<%=article.article_id%>">process</a>
                  <a class="dropdown-item" href="/article/done/<%=article.article_id%>">done</a>
                  <a class="dropdown-item" href="/article/edit/<%=article.article_id%>">edit</a>
                  <a class="dropdown-item" href="/article/delete/<%=article.article_id%>">delete</a>
                </div>
              </div>  
            </div>
            <% } %>
          </div>
          <hr>
          <div class="articleContent ms-4">
            <p>
              <%= article.article_content %>
            </p>

          </div>
          <div class="text-end commentBtn my-2"  data-id="comment_<%=article.article_id%>">
            <button class="btn btn-dark btn-sm me-2 cmtBtn" >Comment</button>
          </div>
          <!-- Comment for done-->
         
          <div class="articleCommentSection row  px-2 my-2 d-none">
            <hr>
            <div class="row py-1">
              <div class="col-1">
                <% if(profile.profile != "null"){%>
                  <img src="<%= profile.profile %>" alt="Profile" width="30px" height="30px">
              <% } else {  %>
                  <img src="images/unknown.png" alt="unknown profile" width="30px" height="30px">
              <% } %>
              </div>
              <div class="col-11 ">
                <button class="addCommentBtn w-100 text-start addComment" data-id="<%=article.article_id%>">Comment here !</button>
                <form action="/comments/add/<%=article.article_id%>" method="post" class="form d-none" data-id="<%=article.article_id%>">
                  <textarea name="comment_content" id="newcomment" cols="30" rows="4" class="form-control"
                    placeholder="Comment here"></textarea> <br>
                  <input type="submit" value="Send" class="btn btn-success">
                  <button class="btn btn-primary commentCancel" data-id="<%=article.article_id%>">Cancel</button>
                </form>
              </div>
            </div>
            <% comment.forEach((comment, index) => { %>
            <% if(comment.article_id === article.article_id){ %>
            <div class="articleComment bg-light my-2">
              <div class="row cmtNav ">
                <div class="col-8">
                  <div class="row userComment">
                    <div class="col-2 mt-2">
                      <% if(comment.profile != "null"){%>
                        <img src="<%= comment.profile %>" alt="Profile" width="30px" height="30px">
                    <% } else {  %>
                        <img src="images/unknown.png" alt="unknown profile" width="30px" height="30px">
                    <% } %>
                    </div>
                    <div class="col-9">
                      <span class="fw-bold"><%= comment.user_name %></span> &nbsp;
                      <span ><%= comment.user_role %></span> <br>
                      <i>3 hours ago</i>
                    </div>
                  </div>
                </div>
                
                <% if(comment.user_id == profile.user_id || article.userid == profile.user_id){ %>
                <div class="col-3">
                  <div class="dropdown ">
                    <span class="dropdown-toggle text-end d-block fs-3" id="dropdownMenuButton"
                      data-bs-toggle="dropdown">
                    </span>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item cmtEditBtn" data-id="<%= comment.comment_id %>" >edit</a>
                      <a class="dropdown-item" href="/comments/delete/<%=comment.comment_id%>">delete</a>
                    </div>
                  </div>
                </div>
                <% } %>
              </div>
             
              <div class="articleContent ms-4  py-1">
                <p class="articlePara" data-id="<%= comment.comment_id%>">
                  <%= comment.comment_content %> <br>
                </p>
                <form class="d-none cmtEditForm" data-id="<%= comment.comment_id %>">
                  <textarea name="comment_content" id="newcomment" rows="3" cols="25" class="form-control commentedit" placeholder="Comment here"  data-id="<%= comment.comment_id%>"></textarea> <br>
                  <input type="submit" value="Edit" class="btn btn-success">
                  <button class="btn btn-primary cmtEditCancel" data-id="<%=comment.comment%>">Cancel</button>
                 </form>
              </div>
            </div>
            <% }  }) %> <!--comment for done end -->
            
          </div>
         
        </div>
      
        <% }  }) %> <!-- done article end-->

      </div>
    </div>
  </section>
  <script src="javascripts/bootstrap.min.js"></script>
  <script src="javascripts/jquery.min.js"></script>
  <script>
    $(document).ready(() => {
      // *********** Comment show and Add Comment *****************//
      //comment show
      $(".cmtBtn").click((e) => {
        var id = $(e.target).parent().data("id");
        console.log(id);
        $(`.commentBtn[data-id=${id}]+div`).toggleClass('d-none');
      })
      //button for new comment
      $(".addComment").click((e) => {
        var id = $(e.target).data('id');
        console.log(id);
        $(`form[data-id=${id}]`).toggleClass('d-none');
        $(`.addComment[data-id=${id}]`).toggleClass('d-none');
      })
      //new comment form show
      $(".commentCancel").click((e) => {
        var id = $(e.target).parent().data("id");
        console.log(id);
        $(`form[data-id=${id}]`).toggleClass('d-none');
        $(`.addComment[data-id=${id}]`).toggleClass('d-none');
      })
      //comment edit form show
      $(".cmtEditBtn").click((e) => {
        var id = $(e.target).data('id');
        var comment = $(`p[data-id=${id}]`).text();
        console.log("id :", id);
        console.log("comment :", comment);
        $(`p[data-id=${id}]`).toggleClass('d-none');
        $(`p[data-id=${id}]+form`).toggleClass('d-none');
        $(`textarea[data-id=${id}]`).val(comment)
      })

      // comment edit submit
      $(".cmtEditForm").submit((e) => {
        e.preventDefault();
        var id = $(e.target).data('id');
       $.ajax({
         type : 'PUT',
         url : '/comments/edit/'+id,
         data : { comment_content : $(`textarea[data-id=${id}]`).val() },
         success: function (data) {
          if(data.content) {
            $(`p[data-id=${id}]`).toggleClass('d-none');
            $(`p[data-id=${id}]+form`).toggleClass('d-none');
            $(`p[data-id=${id}]`).text(data.content)
          }
          console.log(data);
        }

       })
      })
      // comment edit cancel
      $(".cmtEditCancel").click((e) => {
        var id = $(e.target).data('id');
        $(`p[data-id=${id}]`).toggleClass('d-none');
        $(`p[data-id=${id}]+form`).toggleClass('d-none');
      })

    })
    function openNav(){
    $("#mySidenav").css("width","30%");
    $(".sidenav a ").css("font-size","20px");
    $(".myDropDown").css("font-size","15px");
     
      
    };
    function closeNav(){
    $('#mySidenav').css("width","0px");
    $(".sidenav a ").css("font-size","0");
    $(".myDropDown").css("font-size","0");
    };
  
  </script>
</body>

</html>