<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>articles</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table" id="datatable" display="100%">
                    <thead>
                        <tr>
                            <th>Article ID</th>
                            <th>User ID</th>
                            <th>Article Content</th>
                            <th>Article Role</th>
                            <th>Article Created Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%
              data.forEach((user, index)=> {
              %>
                        <tr>
                            <td><%= user.article_id %></td>
                            <td><%= user.userid %></td>
                            <td><%= user.article_content %></td>
                            <td><%= user.article_role %></td>
                            <td><%= user.article_created_date %></td>
                            <td>
                                <a href="/article/edit/<%= user.article_id %>" class="btn btn-success btn-sm">&nbsp;&nbsp;&nbsp;Edit&nbsp;&nbsp;&nbsp;</a>
                                <a href="/article/delete/<%= user.article_id %>" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                        <%
              });
              %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>